@charset "UTF-8";
/* CSS Document */

* {
	padding:0;
	margin:0;
	font-family: Cambria, "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
div{position: relative;}

img {
  border: 0px;
}
.clearLeft {
	clear: left;
}
.clearBoth {
	clear: both;
}
/* TEST ONLY */
#accLogo {
	height: 80px;
	width: 960px;
	position: absolute;
	top: 45px;
}
a{
	color: #226cb5;
	text-decoration: none;
}

a[href $='.pdf'] {
	padding: 3px 18px 1px 0px;
	background: url(http://archive.anglican.ca/common_images/page_white_acrobat.gif) bottom right no-repeat;
}