@charset "UTF-8";
/* CSS Document */
#primary {
	
	background-color: #398d06;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #145638;
	margin: 0px;
	padding: 0px;
	width: 247px;
}
#sideNavPage {
	list-style-type: none;
	font-size: 14px;
	color: #FFF;
	width:247px;
}

#sideNavPage a {font-family:Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif;}
#sideNavPage ul {
	border-width:0px;
	margin:0px;
	padding:0px;
	text-indent:0px;
}
#sideNavPage li {
	list-style:none outside none; display:inline;
	margin-bottom: 1px;
}
#sideNavPage li a {
	width: 221px;
	padding-left: 13px;
	margin: 0px;
	padding-top: 10px;
	padding-right: 13px;
	padding-bottom: 10px;
	text-decoration: none;
	color:#FFF;
	display:block;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
#sideNavPage li a:hover {
	color: #333;
	background: #e7f2df;
	}
#sideNavPage li li a {
	width: 208px;
	margin: 0px;
	color: #FFF;
	text-decoration: none;
	color:#FFF;
	display:block;
	text-decoration: none;
	background: #5ea92b;
	border-bottom: 1px solid #FFF;
	font-size: 12px;
	padding: 8px 13px 8px 26px;
}
#sideNavPage li li a:hover {
	background: #e7f2df;
    color: #333;
    text-decoration: none;
}
#sideNavPage li li li a {
	background: #d7d5a2;
	color: #FFF;
	display: block;
	width: 201px;
	padding-left: 26px;
	margin: 0px;
	padding-top: 8px;
	padding-right: 13px;
	padding-bottom: 8px;
	color: #FFF;
	font-size: 14px;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B0AC45;
		
}
#sideNavPage li li li a:hover {
   background: #dfdeb5;
   color: #000;
   text-decoration: none;
}

#sideNavPage .first {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

