@charset "UTF-8";
#ch-wrapper {
	background-color: #FFF;
	height: 60px;
	width: 943px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 auto;
}

#ch-wrapper table {
	width: 943px;
	background: #FFF;
	margin: 0px; 
} 
#ch-wrapper tbody {
	vertical-align: middle;
	margin: 0px;
}

#ch-wrapper tr {
	margin: 0px;
	border: none;
	vertical-align: middle;
	}
#ch-wrapper img {
	margin: 0px;
	border: none;
	vertical-align: middle;
	padding: 0px;
	}

#ch-wrapper td {
	padding: 0px;
	background: #FFF;
	vertical-align: middle;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
	height: 60px;
	}

#ch-wrapper td p {
	font-family: Calibri, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.2em;
	color: #999;
	font-weight: lighter;
	word-spacing: .1em;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}

#ch-wrapper a {
	vertical-align: middle;
	color: #0067fc;
}

#ch-wrapper td a:link, a:visited, a:active {
	text-decoration: none;
}
#ch-wrapper td a:hover {
	text-decoration: underline;
}
.headerright {
	text-align: right;
}

